/IrisRobloxMultiTool/IrisRobloxMultiTool/bin
/IrisRobloxMultiTool/IrisRobloxMultiTool/obj
/IrisRobloxMultiTool/IrisRobloxMultiTool/bin/Debug
/IrisRobloxMultiTool/IrisRobloxMultiTool/obj/Debug
/IrisRobloxMultiTool/IrisRobloxMultiTool/bin/Release
/IrisRobloxMultiTool/IrisRobloxMultiTool/obj/Release